<p id="notice"><%= notice %></p>

<p>
  <strong>Realtor:</strong>
  <%= @reply.realtor %>
</p>

<p>
  <strong>Inquiry:</strong>
  <%= @reply.inquiry %>
</p>

<p>
  <strong>Response:</strong>
  <%= @reply.response %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
