<h1>House Listings</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Location</th>
    <th>Size</th>
    <th>Year</th>
    <th>Style</th>
    <th>Price</th>
    <th>Floors</th>
    <th>Basement</th>
    <th>Owner</th>
    <th>Contact</th>
    <th>Listed By</th>

  </tr>
  </thead>

  <tbody>
  <% @houses.each do |house| %>
    <tr>
      <td><%= house.company.c_name %></td>
      <td><%= house.location %></td>
      <td><%= house.size %></td>
      <td><%= house.year %></td>
      <td><%= house.style %></td>
      <td><%= house.price %></td>
      <td><%= house.floors %></td>
      <td><%= house.basement %></td>
      <td><%= house.owner %></td>
      <td><%= house.contact %></td>
      <td><%= house.user.fname %></td>
      <% if !current_user.is_admin %>
        <td><%= link_to 'Show', house %></td>
      <% end %>
      <% if (house.user_id == current_user.id && current_user.is_realtor) or current_user.is_admin %>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Delete', house, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if !current_user.is_hunter %>
  <%= link_to 'New House ||', new_house_path %>
<% end %>
<%= link_to 'Back', home_index_path %>
