
<br>
<h1>House Details</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Location</th>
    <th>Size</th>
    <th>Year</th>
    <th>Style</th>
    <th>Price</th>
    <th>Floors</th>
    <th>Basement</th>
    <th>Owner</th>
    <th>Contact</th>
    <th>Listed By</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @house.company.c_name %></td>
    <td><%= @house.location %></td>
    <td><%= @house.size %></td>
    <td><%= @house.year %></td>
    <td><%= @house.style %></td>
    <td><%= @house.price %></td>
    <td><%= @house.floors %></td>
    <td><%= @house.basement %></td>
    <td><%= @house.owner %></td>
    <td><%= @house.contact %></td>
    <td><%= @house.user.fname %></td>
  </tr>

  </tbody>
</table>
<% if @house.user_id==current_user.id or current_user.is_admin %>
  <%= link_to 'Edit', edit_house_path(@house) %>
  <br>
  <br>
  <h1>Inqueries</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Subject</th>
      <th>Query</th>
      <th>Created By</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% @house.inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.subject %></td>
        <td><%= inquiry.content %></td>
        <td><%= inquiry.user.fname %></td>
        <td><%= link_to 'Show', inquiry_path(inquiry) %></td>
        <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
        <td><%= link_to 'Delete',inquiry, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<br>
<br>
<h1>Submit a new Inquiry</h1>

<%= form_for @inquiry do |form| %>
  <div style="display: none;">
    <%= form.text_field :user_id, value: current_user.id %>
  </div>
  <div style="display: none;">
    <%= form.text_field :house_id, value: @house.id %>
  </div>
  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="actions">
    <%= form.submit  %>
  </div>
<% end %>
<%= link_to 'Back', houses_path %>