
<br>
<h1>House Details</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Location</th>
    <th>Size</th>
    <th>Year</th>
    <th>Style</th>
    <th>Price</th>
    <th>Floors</th>
    <th>Basement</th>
    <th>Owner</th>
    <th>Contact</th>
    <th>Listed By</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @house.company.c_name %></td>
    <td><%= @house.location %></td>
    <td><%= @house.size %></td>
    <td><%= @house.year %></td>
    <td><%= @house.style %></td>
    <td><%= @house.price %></td>
    <td><%= @house.floors %></td>
    <td><%= @house.basement %></td>
    <td><%= @house.owner %></td>
    <td><%= @house.contact %></td>
    <td><%= @house.user.fname %></td>
  </tr>

  </tbody>
</table>

<br>
<%= link_to 'Back ||', houses_path %>
<%= link_to 'Submit/View Queries || ', new_inquiry_path(:id => @house.id) %>
<% if current_user.is_hunter %>
  <%= link_to 'Add To/View Interest List', new_buyer_path(:id => @house.id) %>
<% end %>
<% if current_user.is_realtor %>
  <%= link_to 'View Interested People List', buyers_path(:id => @house.id) %>
<% end %>
