<%= form_with(model: hunter, local: true) do |form| %>
  <% if hunter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hunter.errors.count, "error") %> prohibited this hunter from being saved:</h2>

      <ul>
        <% hunter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :user do |builder| %>
    <div class="col-md-6 mb-3">
      <%= builder.label :name ,'User Name'%>
      <%= builder.text_field :name ,{:class=>'form-control'}%>
    </div>

    <div class="col-md-6 mb-3">
      <%= builder.label :email ,'Email Address'%>
      <%= builder.text_field :email,{:class=>'form-control'} %>
    </div>

    <div class="col-md-6 mb-3">
      <%= builder.label :password , 'Password' %>
      <%= builder.password_field  :password ,{:class=>'form-control'}%>
    </div>

    <div class="col-md-6 mb-3">
      <%= builder.label :phone ,'Contact' %>
      <%= builder.text_field :phone,{:class=>'form-control'} %>
    </div>
  <% end %>
  <div class="col-md-6 mb-3" , id="contact_mode" >
    <%= form.label :contact_mode, 'Preferred Mode Of Contact' %>
    <%= form.text_field :contact_mode,{:class=>'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
