<%= form_with(model: hunter, local: true) do |form| %>
  <% if hunter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hunter.errors.count, "error") %> prohibited this hunter from being saved:</h2>

      <ul>
      <% hunter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6 mb-3">
    <%= form.label :name ,'User Name'%>
    <%= form.text_field :name ,{:class=>'form-control'}%>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :email ,'Email Address'%>
    <%= form.text_field :email,{:class=>'form-control'} %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :password , 'Password' %>
    <%= form.password_field  :password ,{:class=>'form-control'}%>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :phone ,'Contact' %>
    <%= form.text_field :phone,{:class=>'form-control'} %>
  </div>

  <div class="col-md-6 mb-3" , id="contact_mode" >
    <%= form.label :contact_mode, 'Preferred Mode Of Contact' %>
    <%= form.text_field :contact_mode,{:class=>'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
