<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @hunter.user %>
</p>

<p>
  <strong>Contact mode:</strong>
  <%= @hunter.contact_mode %>
</p>

<%= link_to 'Edit', edit_hunter_path(@hunter) %> |
<%= link_to 'Back', hunters_path %>
