<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hunter.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hunter.user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hunter.user.phone %>
</p>

<p>
  <strong>Contact mode:</strong>
  <%= @hunter.contact_mode %>
</p>

<%= link_to 'Edit', edit_hunter_path(@hunter) %> |
<%= link_to 'Back', hunters_path %>
