<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @realtor.user %>
</p>

<p>
  <strong>Company:</strong>
  <%= @realtor.company %>
</p>

<%= link_to 'Edit', edit_realtor_path(@realtor) %> |
<%= link_to 'Back', realtors_path %>
