<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6 mb-3">
    <%= f.label :fname , "Full Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="col-md-6 mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="col-md-6 mb-3">
    <%= f.label 'Realtor'  %>
    <%= f.check_box  :is_realtor %>
  </div>
  <div class="col-md-6 mb-3">
    <%= f.label 'House Hunter' %>
    <%= f.check_box  :is_hunter %>
  </div>
  <div class="col-md-6 mb-3">
    <%= f.submit "Submit" , :class=>"active btn btn-primary"%>
  </div>
<% end %>
