<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 mb-3">
    <%= form.label :name ,'User Name'%>
    <%= form.text_field :name ,{:class=>'form-control'}%>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :email ,'Email Address'%>
    <%= form.text_field :email,{:class=>'form-control'} %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :password , 'Password' %>
    <%= form.password_field  :password ,{:class=>'form-control'}%>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :phone ,'Contact' %>
    <%= form.text_field :phone,{:class=>'form-control'} %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label 'Realtor'  %>
    <%= form.check_box  :r_checkbox,{:class=>'form-control'} %>
  </div>
  <div class="col-md-6 mb-3" , id="company", style="display:none">
    <%= form.label :company_id , 'Select Company' %>
    <%= form.collection_select :company_id,Company.order(:c_name),:id,:c_name,prompt: true%>
  </div>
  <div class="col-md-6 mb-3">
    <%= form.label 'House Hunter' %>
    <%= form.check_box  :hh_checkbox,{:class=>'form-control'} %>
  </div>
  <div class="col-md-6 mb-3" , id="contact_mode" , style="display:none">
    <%= form.label :contact_mode, 'Preferred Mode Of Contact' %>
    <%= form.text_field :contact_mode,{:class=>'form-control'} %>
  </div>

  <script type="text/javascript">
      var checkbox = document.getElementById('user_hh_checkbox');
      var details_div = document.getElementById('contact_mode');
      checkbox.onchange = function() {
          if(this.checked) {
              details_div.style['display'] = 'block';
          } else {
              details_div.style['display'] = 'none';
          }
      };
      var checkbox_2 = document.getElementById('user_r_checkbox');
      var x = document.getElementById('company');
      checkbox_2.onchange = function() {
          if(this.checked) {
              x.style['display'] = 'block';
          } else {
              x.style['display'] = 'none';
          }
      };

  </script>


  <div class="col-md-6 mb-3">
    <%= form.submit %>
  </div>
<% end %>
