<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
    <th> Company Name</th>
    <th> Company Name</th>
    <th> Company Name</th>
    <th> Company Name</th>
    <th> Company Name</th>
  </tr>
</table>

<p>
  <strong>C namaae:</strong>
  <%= @company.c_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @company.size %>
</p>

<p>
  <strong>Year:</strong>
  <%= @company.year %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @company.revenue %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @company.synopsis %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
