<br>
<p id="notice"><%= notice %></p>

<table class="table table-striped" border="2">
  <tr>
    <th> Company Name</th>
    <th> Website</th>
    <th> Address</th>
    <th> Size</th>
    <th> Year</th>
    <th> Revenuer</th>
    <th> Synopsis</th>
  </tr>
  <tr>
    <td><%= @company.c_name %></td>
    <td><%= @company.website %></td>
    <td><%= @company.address %></td>
    <td><%= @company.size %></td>
    <td><%= @company.year %></td>
    <td><%= @company.revenue %></td>
    <td><%= @company.synopsis %></td>
  </tr>
</table>
<% if current_user.is_admin %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
<% end %>
<%= link_to 'Back', companies_path %>
