<h3>House Search</h3>

<%= form_for @search, html: {class: "pure-form"} do |form| %>

  <div class="field">
    <%= form.label :location %>
    <%= form.select :location, options_for_select(@locations), :include_blank => true %>
  </div>
  <div class="field">
    <%= form.label :min_cost, 'Price range min value (in dollars - whole numbers)' %>
    <%= form.number_field :min_cost %>
  </div>
  <div class="field">
    <%= form.label :max_cost, 'Price range max value (in dollars - whole numbers)' %>
    <%= form.number_field :max_cost %>
  </div>
  <div class="field">
    <%= form.label :min_size, 'Size range min value (in sq.ft - whole numbers)' %>
    <%= form.number_field :min_size %>
  </div>
  <div class="field">
    <%= form.label :max_size, 'Size range max value (in sq.ft - whole numbers)' %>
    <%= form.number_field :max_size %>
  </div>
  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>
<br>
<% if session[:dual_role] %>
  <% if session[:as_realtor] %>
    <%= link_to 'Back', home_index_path %>
  <% else %>
    <%= link_to 'Back', hunter_index_path %>
  <% end %>
<% else %>
  <%= link_to 'Back', home_index_path %>
<% end %>


