
<%= form_for @buyer ,:html=>{:id => "form_submit"} do |form| %>
  <% if buyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buyer.errors.count, "error") %> prohibited this buyer from being saved:</h2>

      <ul>
      <% buyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @buyer do |form| %>
    <div style="display: none;">
      <%= form.text_field :house_id, value: @buyer.house_id %>
    </div>
    <div style="display: none;">
      <%= form.text_field :user_id, value: current_user.id %>
    </div>
    <div class="actions">
      <%= form.submit() %>
      <%#= form.submit "Add to interest list"%>
    </div>
  <% end %>

<% end %>

<script>
    $(document).ready(function(){
        $("form_submit").submit();
    });
</script>
