<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @buyer.house %>
</p>

<p>
  <strong>Hunter:</strong>
  <%= @buyer.hunter %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'Back', buyers_path %>
