<% if current_user.is_hunter %>
  <h3>Submit a query</h3>
  <%= render 'form', inquiry: @inquiry %>
<% end %>

<br>
<br>

<h1>Inqueries</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Subject</th>
    <th>Query</th>
    <th>Created By</th>
  </tr>
  </thead>
  <tbody>
  <% @inquiries.each do |inquiry| %>
    <tr>
      <td><%= inquiry.subject %></td>
      <td><%= inquiry.content %></td>
      <td><%= inquiry.user.fname %></td>
      <% if current_user.is_realtor %>
        <td><%= link_to 'Show', inquiry_path(inquiry) %></td>
      <% end %>
      <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
      <td><%= button_to "Delete", inquiry, :method => "delete" %></td>
    </tr>
  <% end %>
  </tbody>
</table>






