<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Query:</strong>
  <%= @inquiry.content %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @inquiry.user.fname %>
</p>

<br>
<br>
<h3>All replies to this inquiry:</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Reply From</th>
    <th>Response</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @inquiry.replies.each do |reply| %>
    <tr>
      <td><%= reply.user.fname %></td>
      <td><%= reply.response %></td>
      <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
      <td><%= button_to "delete", reply, :method => "delete" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<br>
<h3>Reply to user's inquiry:</h3>
<br>
<%= form_for @reply do |form| %>
  <div style="display: none;">
    <%= form.text_field :user_id, value: current_user.id %>
  </div>
  <div style="display: none;">
    <%= form.text_field :inquiry_id, value: @inquiry.id %>
  </div>
  <div class="field">
    <%= form.label :response ,"Reply to user's query:" %>
    <%= form.text_field :response %>
  </div>
  <div class="actions">
    <%= form.submit 'Send Reply' %>
  </div>
<% end %>
<br>
<%= link_to 'Back', house_path(@inquiry.house) %>
